*{margin: 0;padding: 0;border: 0;font-family:"Microsoft YaHei",arial,sans-serif,tahoma;}
html, body{font-size: 14px;color:#333}
a{text-decoration: none;color:#333}
.hide {display: none !important;}
.fr{float: right;}
.fl{float: left;}
/* == clearfix == */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix2{clear: both;content: '';*zoom:1;display:block;}
input:focus, textarea:focus {outline: none;}
ul, li,ol {list-style: none;}
input[type=button]{ cursor: pointer; -webkit-appearance: none; }
input[type=submit]{ cursor: pointer; -webkit-appearance: none; }
input[type=file]{ cursor: pointer; -webkit-appearance: none; }
button{ cursor: pointer; -webkit-appearance: none; }

.text_c{text-align:center;}
.blank_10{height:10px;}
em{font-style:normal;font-weight:normal;}
.font_36{font-size:36px !important;}
.font_24{font-size:24px !important;}
.font_22{font-size:22px !important;}
.font_20{font-size:20px !important;}
.font_18{font-size:18px !important;}
.font_16{font-size:16px !important;}
.font_14{font-size:14px !important;}
.font_12{font-size:12px !important;}
.font_bold{font-weight:bold;}
.mar-t10{margin-top:10px;}
.mar-t15{margin-top:15px;}
.mar-b10{margin-bottom:10px;}
.mar-r15{margin-right:15px;}
.margin_l80{margin-left:80px;}
.w-50{width:50%;}
.w-33{width:33.3333%;}
.w-48{width:48%;}
.w-20{width:20%;}
.w-25{width:25%;}
.w-40{width:40%;}
.text_c{text-align:center;}
.text_r{text-align:right;}
.text_l{text-align:left !important;}
.text_hide{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.font_line{text-decoration:line-through}
.mar-all10{margin:10px;}
.color_666{color:#999}

button{border:none;outline:none;background:none;cursor:pointer}
input{border:none;outline:none;background:none;}

.color-009999{color:#009999}
.color-fff{color:#fff;}
.w-1200{max-width:1200px;margin:0 auto;}
.pad-tb5{padding:5% 0;}
.blank-10{height:10px;}
.blank-20{height:20px;}
.blank-30{height:30px;}


